

.timer1{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-bottom: 10px; /* Add margin-bottom property */
    border: 1px solid #555;
    border-radius: 10px;
    background-color:crimson;
}

.timer2{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-bottom: 10px; /* Add margin-bottom property */
    border: 1px solid #555;
    border-radius: 10px;
    background-color:white;
}

.timer3{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-bottom: 10px; /* Add margin-bottom property */
    border: 1px solid #555;
    border-radius: 10px;
    background-color:green;
}

.activeTimers {
    background-color:gold;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
h1{
    text-align: center;
    color: black;
    border: 1px solid #555;
    border-radius: 10px;
    background-color:green;
}
